//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Codebase functions/mixins/styles etc
// --------------------------------------------------
// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';
@import "utilities";

// Default Custom //
body, html {
  height: 100%;
}

body, #page-container.page-header-modern #page-header {
  background-color: #f3f3f3;
}

#page-container.main-content-boxed > #main-container .content {
  max-width: 100%;
}

.btn:disabled {
  animation: stripe-bar 0 linear none;
}

.btn-alt-primary {
  background: url("/assets/codebase/media/various/stripes-white-btn.png") -20px 0 repeat-x #fff;
  color: $brand-primary;
  &:hover {
    background-color: #efefef;
    animation: stripe-bar 0.8s linear infinite;
  }
  &:disabled {
    animation: stripe-bar 0 linear none;
  }
}

.btn-success {
  background: url("/assets/codebase/media/various/stripes-green-btn.png") -20px 0 repeat-x $green;
  border: 0;
  &:hover {
    background-color: #298868;
    animation: stripe-bar 0.8s linear infinite;
  }
  &:disabled {
    animation: stripe-bar 0 linear none;
  }
}

.btn-dark {
  background: url("/assets/codebase/media/various/stripes-dark-btn.png") -20px 0 repeat-x $gray-800;
  border: 0;
  &:hover {
    background-color: #gray-900;
    animation: stripe-bar 0.8s linear infinite;
  }
  &:disabled {
    opacity: 0.3;
    animation: stripe-bar 0 linear none;
  }
  cursor: pointer;
}

.btn-gray-400 {
  background-color: $gray-400;
  border: $gray-400;
}

.btn-gray-500 {
  background-color: $gray-500;
  border: $gray-500;
}

.btn-gray-600 {
  background-color: $gray-600;
}

@keyframes stripe-bar {
  0% {
    background-position: -20px 0
  }
  100% {
    background-position: -10px 0
  }
}

.btn.disabled, .btn:disabled {
  opacity: .35;
}

.content-heading {
  border-bottom: 0;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
}
input::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.5;
}
input:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.5;
}
input:-moz-placeholder { /* Firefox 18- */
  opacity: 0.5;
}

#main-container {
  overflow-y: hidden;
  .slimScrollDiv {
    margin: {
      right: 10px;
    }
    padding-bottom: 10px;
  }
}

.modal {
  .block-header {
    border-bottom: 1px solid #e4e7ed;
  }
  .nav {
    &.prev {
      left: 10%;
    }
    &.next {
      right: 10%;
    }
    position: fixed !important;
    height: 46px;
  }
  .load-img {
    &.vertical-align {
      position: fixed !important;
    }
  }
  .btn-close {
    position: fixed !important;
    right: 2%;
    top: 2%;
  }
}

.notLogged {
  background: {
    image: url("/assets/codebase/media/various/background-login.jpg");
    position: top center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100%;
  overflow-y: hidden;
  padding-left: 0 !important;

  #sidebar {
    display: none;
  }
}

.left-content {
  .block-group {
    .btn {
      height: 50px;
    }
  }
}

.right-content {
  .block-header {
    h4 {
      font-size: 1.571429rem;
    }
  }
  .student-data {
    .block-header {
      border-bottom: 1px solid #fff;
    }
    .block-content {
      strong {
        font-weight: bold;
      }
      i {
        font-size: 18px;
      }
    }
  }
  .block-content {
    hr {
      margin: 0;
      border-color: #49d2a4;
    }
  }

  .scrumboard {
    opacity: 1;
    .scrumboard-items {
      .scrumboard-item {
        box-shadow: 0 3px 5px rgba(0,0,0,0.25);
        min-height: 22px;
        border-top: 1px solid #34ad84;
        font-size: 0.8rem;
        line-height: 0.9rem;
        margin-bottom: 6px;

        .scrumboard-item-options {
          top: 2px;
          .btn {
            height: 16px;
            padding: 0px 2px;
            line-height: 0;
          }
        }
      }
      .form-group {
        .select2-container {
          .select2-selection {
            height: 34px;
          }
        }
      }
    }
  }
}

.top-menu {
  border-bottom: 10px #69d3af groove;
}
.cropper-bg {
  background-image: none !important;
}

.vertical-align {
  @include vertical-align;
}

.form-group {
  .v-select {
    .dropdown-toggle {
      background-color: #fff;
      border: 0;
      .form-control {
        color: #000;
        position: initial;
      }
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      width: 550px;
      position: relative;
      left: -90px;
    }
    &.select-multiple {
      .dropdown-toggle {
        border: 1px solid #ccc;
        height: 34px;
        line-height: 31px;
        .selected-tag {
          input {
            border: 1px solid #37b78c;
          }
        }
      }
    }
  }
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  position: absolute;
  padding: 5px 10px;
  top: 0;
  right: 120%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  opacity: 0;
  border: 1px solid #111111;
  z-index: 999999;
  visibility: hidden;
  border-radius: 4px;
}
[data-title] {
  position: relative;
}

// End Default Custom //

/* Sidebar */
#sidebar {
  background-color: $brand-primary;
  .sidebar-content {
    .content-header-section {
      .top-navegation {
        //.row {
        //  > div {
        //    &:first-child {
        //      border-right: 1px solid #fff;
        //    }
        //  }
        //}
      }
    }
    .content-side {
      margin-top: 20px;
      .nav-main {
        li {
          //position: relative;
          a {
            color: $white;
            font-size: 1.3rem;
            font-weight: 100;
            padding: 13px 18px 13px 45px;
            transition: all ease-out 0.2s;
            > i {
              color: $white;
              font-size: 1.3rem;
              transition: all ease-out 0.2s;
            }
            > span {
              &:first-child {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
              }
            }
          }
          &:hover,
          &:focus,
          &.active {
            a {
              padding: 13px 18px 13px 60px;
              color: $green-dark;
              /* background: $brand-primary;  Old browsers */
              @include gradient-menu-horizontal($brand-primary, $green-light);
              box-shadow: 0 .5rem 1.2rem rgba(0, 0, 0, .04) !important;
              > i {
                color: $green-dark;
                left: 33px;
              }
              > span {
                &:first-child {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* End Sidebar */

/* Cut Dossie */
.cut-dossie {
  .left-content {
    .block-thumbails {
      .block-content {
        max-height: 523px;
        overflow-y: auto;
        padding-top: 0;

        .card-thumb {
          position: relative;
          &:hover {
            cursor: pointer;
            .zoom-content {
              display: initial;
            }
          }
          &.selected {
            img {
              outline: 2px solid $green-dark;
              position: relative;
              z-index: 1;
            }
          }
          .zoom-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(55, 183, 140, 0.8);
            display: none;
            z-index: 2;
          }
          .form-group {
            position: absolute;
            top: 5px;
            right: 0;
            .custom-control-inline {
              margin-right: 0;
            }
          }
        }
      }
    }
    .block-group {
      .block-content {
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        button {
          overflow-x: hidden;
          cursor: auto;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .right-content {
    .actions-content {
      .actions-selected {
        .btn:not(:disabled):not(.disabled) {
          cursor: auto;
        }
      }
    }
  }


}
.v-select {
  .dropdown-toggle {
    position: relative;
    height: 40px;
    .form-control {
      position: absolute;
    }
    .clear {
      display: none;
    }
  }
}

/* END Cut Dossie */

/* Rate Dossie */
.rate-dossie {

}

/* END Rate Dossie */

/* Rate Dossie Selected */
.rate-dossie-selected {
  .left-content {
    .block-group {
      .block-content {
        a {
          i {
            float: left;
          }
          > div {
            width: 77%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      &.dossie-classificated {
        .btn-block {
          &.btn-outline-primary {
            border-color: #575757;
          }
        }
      }
    }
  }
}

/* END Rate Dossie Selected */

/* Rate Dossie Selected Group */
.rate-dossie-selected-group {
  .left-content {
    .block-group {
      .block-header {
        @include gradient-menu-vertical(#fff, #ececec);
        overflow-x: auto;
        justify-content: initial;
        img {
          cursor: pointer;
          &:hover, &.active {
            outline: 3px solid $brand-primary;
          }
        }
      }
      .btn {
        height: 46px;
      }
      .block-content {
        .cropper-crop-box {
          display: none;
        }
        .cropper-modal {
          &.cropper-drag-box {
            opacity: 0;
          }
          &.cropper-crop {
            cursor: default;
          }
        }
        .pageContainer {
          overflow: hidden;
          .imgPage {
            display: inline-block;
            position: relative;

            img {
              user-select: none;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              &:hover {
                cursor: move;
              }
            }
          }
        }
      }
    }
  }
  .right-content {
    .content-sidebar {
      overflow-y: scroll;
      padding-bottom: 200px;
      padding-right: 10px;
      height: 800px;
      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #01caa8;
        outline: 2px solid #fff;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #07a98d;
      }
      &.onScreen {
        position: fixed;
        width: 26.3%;
        top: 10px;
      }
    }
    .actions-content {
      .clear {
        display: none;
      }

      .block-header {
        .bg-green-title {
          background-color: #5fc5a3;
        }
      }
      .dropdown {
        &.open {
          margin-bottom: 300px;
        }
      //  .dropdown-toggle {
      //    position: relative;
      //    height: auto;
      //    .selected-tag {
      //      padding-right: 25px;
      //      height: auto;
      //    }
      //    .form-control {
      //      position: absolute;
      //      left: 0;
      //      width: 100%;
      //    }
      //  }
        .dropdown-menu {
          margin-bottom: 200px;
          z-index: 1000;
          width: 110%;
          left: -15px;
          li {
            position: relative;
            z-index: 1000;
            font-size: 11px;
            a {
              padding-left: 5px;
              height: auto;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
}

/* END Rate Dossie Selected Group */

.scanning {
  .docs-content {
    &.block {
      height: 280px;
    }
  }
  .dropdown {
    &.open {
      margin-bottom: 300px;
      .dropdown-menu {
        position: relative;
        margin-top: -60px;
        z-index: 999;
      }
    }
  }
  .swal2-title {
    font-size: 1.2em;
  }
  .swal2-content {
    font-size: 1.8em;
  }
}

.scanning-selected {
  .v-select {
    .dropdown-toggle {
      .selected-tag {
        display: none;
      }
      .form-control {
        width: 100%;
        position: initial;
        color: #000;
      }
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      width: 100%;
      // left: 10px;
      margin-top: -18px;
      position: relative;
    }
  }
  .category-selected {
      .btn {
        cursor: default;
        .close {
          cursor: pointer;
        }
      }
  }
}

.swal2-popup {
  .swal2-title {
    font-size: 1.2em !important;
  }
  .swal2-content {
    font-size: 1.8em !important;
  }
}

footer {
  display: none;
}